<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mirror Image | Blnk</title>
	<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet"> 
	<style type="text/css">
		body {
			background: #000
		}
		div.center {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}
		div.center h1{
			font-family: 'Syne Mono', monospace;
			color: #FFF;
			font-size: 64px;
		}
		div.center span {
			font-family: 'Syne Mono', monospace;
			font-size: 16px;
			color: #FFF;
			font-weight: 600;
		}
		div.center span .important {
			color: red
		}
	</style>
</head>
<body>
<div class="center">
	<h1>Mirror Image Server</h1>
	<span>Example : blnk-mirror.herokuapp.com/<span class="important">< your link ></span></span>
</div>
</body>
</html>